In [14]:
import numpy as np 
import pandas as pd

In [15]:
dataframe = pd.read_csv("data/Exploring Interests in Individuals and In Couples.csv", na_values='NaN')

In [16]:
## Deleting unecessary columns

dataframe = dataframe.drop('Unnamed: 36', axis = 1)
dataframe = dataframe.drop( '''What are some of your hobbies/interests that weren't included in the questions until now? If none then type in "n/a".''', 
                           axis = 1)
dataframe = dataframe.drop('What is one thing, or multiple things, that you struggle with in your relationship? (If none then type in "n/a")', axis = 1)

In [17]:
## Add age range values, as binary, to their respective indicator columns

dataframe['35+'] = np.where(dataframe['Age range'] == 'Above 35', 1, 0)
dataframe['18'] = np.where(dataframe['Age range'] == 'Below 18', 1, 0)
dataframe['25 - 35'] = np.where(dataframe['Age range'] == '25 - 35', 1, 0)
dataframe['18 - 24'] = np.where(dataframe['Age range'] == '18 - 24', 1, 0)

## delete original non-binary column
dataframe = dataframe.drop('Age range', axis = 1)

## Rename age range indicator columns
dataframe = dataframe.rename(columns={"35+" : "is_Above_35",
                          "18" : "is_Below_18",
                          "25 - 35" : "is_Between_25_and_35",
                          "18 - 24" : "is_Between_18_and_24", 
                          })

In [18]:
## Change relationship validation column to binary
dataframe['Are you currently in a relationship?'] = np.where(dataframe['Are you currently in a relationship?'] == 'Yes', 1, 0)

In [19]:
## Create a new binary column for each unique value in question 22's column 

Q22_binary_column_names = dataframe['How do you feel about your current relationship?'].unique()
for value in Q22_binary_column_names:
  if (type(value) != float):
    Q22_column_name = f"relationship_is_{value.replace(' ', '_').split('.')[0]}"
    dataframe[Q22_column_name] = np.where(dataframe['How do you feel about your current relationship?'] == value, 1, 0) 

## Delete non-binary column
dataframe = dataframe.drop('How do you feel about your current relationship?', axis=1)

In [20]:
## Initialize column names to create columns

Q_23_binary_column_names = [
  'partner_is_Thoughtful', 
  'partner_is_Compassionate', 
  'partner_is_Supportive', 
  'partner_is_Understanding', 
  'partner_is_Patient', 
  'partner_is_Dishonest', 
  'partner_is_Poor_communication_skills', 
  'partner_is_Un-empathetic', 
  'partner_is_Selfish', 
  'partner_is_Poor_temper_control', 
  'partner_is_Unreliable', 
  'partner_is_Close-minded', 
  'partner_is_Impatient', 
  'partner_is_Controlling', 
]

for option in Q_23_binary_column_names:
  dataframe[option] = 0

column = dataframe['Select the choices that describe your partner:']

## Search for value in the column's row and add 1 in the record of its respective binary column
for i in range(len(column)):
  if (type(column[i]) != float):
    words = column[i].split(';')
    for word in words:
      option = f"partner_is_{word.replace(' ', '_')}"
      if (option in Q_23_binary_column_names):
        # dataframe[option][i] = 1
        dataframe.loc[i, option] = 1

## Delete non-binary column
dataframe = dataframe.drop('Select the choices that describe your partner:', axis = 1)

In [21]:
## Initialize column names to create columns

Q_24_binary_column_names = [
  'user_is_Thoughtful', 
  'user_is_Compassionate', 
  'user_is_Supportive', 
  'user_is_Understanding', 
  'user_is_Patient', 
  'user_is_Dishonest', 
  'user_is_Poor_communication_skills', 
  'user_is_Un-empathetic', 
  'user_is_Selfish', 
  'user_is_Poor_temper_control', 
  'user_is_Unreliable', 
  'user_is_Close-minded', 
  'user_is_Impatient', 
  'user_is_Controlling', 
]

for option in Q_24_binary_column_names:
  dataframe[option] = 0

column = dataframe["Select the choices that describe yourself:"]

## Search for value in the column's row and add 1 in the record of its respective binary column
for i in range(len(column)):
  if (type(column[i]) != float):
    words = column[i].split(';')
    for word in words:
      option = f"user_is_{word.replace(' ', '_')}"
      if (option in Q_24_binary_column_names):
        # dataframe[option][i] = 1
        dataframe.loc[i, option] = 1

## Delete non-binary column
dataframe = dataframe.drop("Select the choices that describe yourself:", axis = 1)

In [22]:
## Initialize column names to create columns

Q25_binary_column_names = [
  "couple_has_Communication_(Healthy_conflict_resolution_included)",
  "couple_has_Trust_and_Commitment",
  "couple_has_Respect",
  "couple_has_Support",
  "couple_has_Shared Values_(Alignment_on_important_issues)",
  "couple_has_Intimacy",
  "couple_has_Independence",
  "couple_has_I_will_pass_on_this_one...",
]

for binary_column_name in Q25_binary_column_names:
  dataframe[binary_column_name] = 0

column = dataframe['Select the qualities that are not missing in your current relationship:']

## Search for value in the column's row and add 1 in the record of its respective binary column
for i in range(len(column)):
  if (type(column[i]) != float):
    words = column[i].split(';') 
    for word in words:
      option = f"couple_has_{word.replace(' ', '_')}"
      if (option in Q25_binary_column_names):
        dataframe.loc[i, option] = 1

## Delete non-binary column
dataframe = dataframe.drop('Select the qualities that are not missing in your current relationship:', axis = 1)

In [23]:
## Initialize column names to create columns

Q26_binary_column_names = [
  "couple_enjoys_Outdoor_and_Nature_Activities",
  "couple_enjoys_Social_and_Entertainment_(Shopping,_Dining,_Parties,_Bars_...)",
  "couple_enjoys_Sports_or_any_physical_activity",
  "couple_enjoys_Relaxation_and_Self-care_(Yoga,_spa_...)",
  "couple_enjoys_Spiritual_activities_(Meditation,_prayers_...)",
  "couple_enjoys_Cultural_and_Educational_(Museums,_Historical_sites_...)",
  "couple_enjoys_Entertainment_(Movies,_Amusement_parks_...)"
]

for binary_column_name in Q26_binary_column_names:
  dataframe[binary_column_name] = 0

column = dataframe['Select the type of activities/outings that you enjoy doing with your partner:']

## Search for value in the column's row and add 1 in the record of its respective binary column
for i in range(len(column)):
  if (type(column[i]) != float):
    words = column[i].split(';') 
    for word in words:
      option = f"couple_enjoys_{word.replace(' ', '_')}"
      if (option in Q26_binary_column_names):
        dataframe.loc[i, option] = 1


## Delete non-binary column
dataframe = dataframe.drop('Select the type of activities/outings that you enjoy doing with your partner:', axis = 1)

In [24]:
## Create a new binary column for each unique value in question 28's column 

Q28_binary_column_names = dataframe['How often do you and your partner spend quality time together per week?'].unique()
for value in Q28_binary_column_names:
  if (type(value) != float):
    Q_28_column_name = f"is_{value.replace(' ', '_')}"
    dataframe[Q_28_column_name] = np.where(dataframe['How often do you and your partner spend quality time together per week?'] == value, 1, 0)

## Delete non-binary column
dataframe = dataframe.drop('How often do you and your partner spend quality time together per week?', axis = 1)

In [31]:
dataframe.iloc[1:10,1:25]

,is_Below_18,is_Between_25_and_35,is_Between_18_and_24,I enjoy places that are crowded with people,I enjoy nightlife,I can't wait for my next outdoor activity,I find spending time in nature to be relaxing,I like to go to museums and art galleries,I find cultural and educational topics interesting,"In my free time, you will find me reading a book",...,I enjoy shopping for clothes,I enjoy physical exercise,I like to practice sports,I enjoy dining in restaurants,I find grocery shopping fun,I absolutely hate shopping in general,I prefer take-away and delivery over dining in a restaurant,Sometimes a movie night is what I need,I like animals,Are you currently in a relationship?
1,0,0,1,3,2,5,5,5,5,5,...,3,5,5,4,5,5,3,4,5,1
2,0,1,0,2,5,5,5,3,2,3,...,4,4,4,4,2,3,1,2,5,0
3,0,0,1,2,4,3,5,4,4,5,...,3,4,4,3,2,3,3,5,3,0
4,0,0,1,2,5,3,5,1,3,1,...,3,3,4,5,4,3,4,4,5,0
5,0,0,1,2,1,4,3,3,4,2,...,4,4,4,5,3,2,3,4,1,0
6,0,0,1,2,1,1,2,2,2,2,...,3,5,4,4,4,1,1,5,4,0
7,0,0,1,5,5,5,5,3,5,5,...,1,5,5,5,1,1,1,5,5,1
8,0,0,1,3,4,3,5,3,5,3,...,2,4,5,4,1,4,2,4,3,1
9,0,0,1,1,1,5,5,3,5,1,...,2,5,5,5,3,1,1,5,5,0